{% extends "main/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'main/newuser.css' %}">
{% endblock %}

{% block leftbar %}
<div class="left-bar-items">
    <div class="left-bar-item current">
        <a href="">Add New Student</a>
    </div>
    <div class="left-bar-item">
        <a href="classschedule">Class Schedule</a>
    </div>
    <div class="left-bar-item">
        <a href="">Newsletters</a>
    </div>
    <div class="left-bar-item">
        <a href="">Documents</a>
    </div>
    <div class="left-bar-item">
        <a href="">Videos</a>
    </div>
    <div class="left-bar-item">
        <a href="">Events</a>
    </div>
    <div class="left-bar-item">
        <a href="">Merchandise</a>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="main">
    <form id="newuser" action="" style="position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="row square"
                        style="aspect-ratio: 1 / 1; justify-content: center; align-items: center; position: relative;"
                        id="avatar">
                        <input type="file" id="image" name="image" accept="image/*">
                        <img src="" alt="" id="preview" style="max-width: 100%; height: auto; display: block;">
                        <div
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                            <p style="font-size: 1.5rem; text-align: center; padding: 0.5rem;">Upload Picture Here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-8" style="height: 100%;">
                            <div class="row square">
                                <div class="input-group">
                                    <span class="input-group-text">Name</span>
                                    <input type="text" name="firstname" placeholder="First"
                                        class="form-control form-control-sm" required>
                                    <input type="text" name="middlename" placeholder="Middle"
                                        class="form-control form-control-sm">
                                    <input type="text" name="lastname" placeholder="Last"
                                        class="form-control form-control-sm" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">Nickname (if preferred):</span>
                                    <input type="text" name="nickname" placeholder="Nickname"
                                        class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row square">
                                <div class="input-group">
                                    <span class="input-group-text">Enrollment Date</span>
                                    <input type="date" name="enrollmentDate" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                            </div>
                            <div class="row square">
                                <div class="col-8">
                                    <div class="input-group">
                                        <span class="input-group-text">Birthday</span>
                                        <input type="date" name="birthday" placeholder="Birthday"
                                            class="form-control form-control-sm" required>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">Age</span>
                                        <input type="text" name="age" placeholder="25"
                                            class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="row square">
                                <div class="input-group">
                                    <span class="input-group-text">Address</span>
                                    <input type="text" name="address1" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text" style="opacity: 0;">Address</span>
                                    <input type="text" name="address2" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row square">
                                <div class="input-group">
                                    <span class="input-group-text">Cell Phone</span>
                                    <input id="phone1" type="text" name="cellphone" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">2<sup>nd</sup>&nbsp;Phone</span>
                                    <input id="phone2" type="text" name="2ndphone" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row square">
                        <div class="input-group">
                            <span class="input-group-text">Emergency Contact #1</span>
                            <input type="text" name="ec1name" placeholder="Name" class="form-control form-control-sm"
                                required>
                            <input type="text" id="phone3" name="ec1phone" placeholder="Phone"
                                class="form-control form-control-sm" required>
                            <input type="text" name="ec1relationship" placeholder="Relationship"
                                class="form-control form-control-sm" required>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">Emergency Contact #2</span>
                            <input type="text" name="ec2name" placeholder="Name" class="form-control form-control-sm"
                                required>
                            <input type="text" id="phone4" name="ec2phone" placeholder="Phone"
                                class="form-control form-control-sm" required>
                            <input type="text" name="ec2relationship" placeholder="Relationship"
                                class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="row square">
                        <div class="row">
                            <div class="col-4">
                                <span style="margin-left: 8px;">Medical Conditions:</span>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        (None)
                                    </label>
                                    <input class="form-check-input" type="radio" name="medicalCondition">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        (Yes)
                                    </label>
                                    <input class="form-check-input" type="radio" name="medicalCondition" checked>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 8px !important;">
                            <div class="input-group">
                                <span class="input-group-text">(Describe)</span>
                                <input type="text" name="medicalConditionDescribe1" placeholder=""
                                    class="form-control form-control-sm">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text" style="opacity: 0;">(Describe)</span>
                                <input type="text" name="medicalConditionDescribe2" placeholder=""
                                    class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0 !important; margin-right: 0 !important;">
                        <div class="col-6">
                            <div class="row square">
                                <span class="input-group-text"
                                    style="margin-top: 14px !important; padding: .375rem .75rem !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">Previous
                                    Training / Style</span>
                                <div class="input-group" style="margin-top: 0 !important;">
                                    <input type="text" name="previousTraning" placeholder=""
                                        class="form-control form-control-sm"
                                        style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                </div>

                                <div class="input-group" style="margin-top: 14px !important;">
                                    <span class="input-group-text">How Long?</span>
                                    <input type="text" name="howLong" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>

                                <div class="input-group" style="margin-top: 14px !important;">
                                    <span class="input-group-text">Rank Achieved</span>
                                    <input type="text" name="rankAchieved" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>

                                <span class="input-group-text"
                                    style="margin-top: 14px !important; padding: .375rem .75rem !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">Reason
                                    for
                                    Discontinuing</span>
                                <div class="input-group">
                                    <input type="text" name="reason" placeholder="" class="form-control form-control-sm"
                                        style="border-top-left-radius: 0; border-top-right-radius: 0;" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row square">
                                <span class="input-group-text"
                                    style="margin-top: 14px !important; padding: .375rem .75rem !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">Motivations
                                    / Reasons for Joining Us</span>
                                <div class="input-group" style="margin-top: 0 !important;">
                                    <textarea type="text" name="motivation" placeholder="" rows="2"
                                        style="border-top-left-radius: 0; border-top-right-radius: 0;"
                                        class="form-control form-control-sm"></textarea>
                                </div>

                                <span class="input-group-text"
                                    style="margin-top: 26px !important; padding: .375rem .75rem !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">How
                                    they
                                    heard about us</span>
                                <div class="input-group" style="margin-bottom: 8px !important;">
                                    <textarea type="text" name="heard" placeholder="" rows="4"
                                        style="border-top-left-radius: 0; border-top-right-radius: 0;"
                                        class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0 !important; margin-right: 0 !important;">
                        <div class="col-6">
                            <div class="row square">
                                <div class="input-group" style="margin: 6px 0 !important;">
                                    <span class="input-group-text">Class Assigned</span>
                                    <input type="text" name="classAssigned" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row square">
                                <div class="input-group" style="margin: 6px 0 !important;">
                                    <span class="input-group-text">Membership Plan</span>
                                    <input type="text" name="membershipPlan" placeholder=""
                                        class="form-control form-control-sm" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row square" style="margin-right: 8px !important;">
                        <span class="input-group-text"
                            style="text-align: center; padding: .375rem .75rem !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">Notes</span>
                        <div class="input-group"
                            style="margin-top: 0px !important; border-top-left-radius: 0; border-top-right-radius: 0; margin-bottom: 12px !important;">
                            <textarea type="text" rows="25" name="notes" placeholder=""
                                class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="row square">
                        <p class="h4 center">Approximate Rank Promotion Date or Test Date<br />(based on 1st Level Date)
                        </p>

                        <!-- <span style="margin-top: 8px !important;">Do Students take their first test to get
                            1<sup>st</sup> Level (White
                            Belt?)</span>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-2">
                                <label class="form-check-label">
                                    Yes
                                </label>
                                <input class="form-check-input" type="radio" name="firstlevel" checked>
                            </div>
                            <div class="col-2">
                                <label class="form-check-label">
                                    No
                                </label>
                                <input class="form-check-input" type="radio" name="firstlevel">
                            </div>
                            <div class="col-2"><span><u>or</u></span></div>
                        </div>

                        <span style="margin-top: 8px !important;">Do Students take their first test to get
                            2<sup>nd</sup> Level (Yellow
                            Belt?)</span>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-2">
                                <label class="form-check-label">
                                    Yes
                                </label>
                                <input class="form-check-input" type="radio" name="secondlevel" checked>
                            </div>
                            <div class="col-2">
                                <label class="form-check-label">
                                    No
                                </label>
                                <input class="form-check-input" type="radio" name="secondlevel">
                            </div>
                        </div> -->

                        <div class="row" style="margin-top: 24px !important;">
                            <div class="row" style="padding-bottom: 12px !important;">
                                <div class="col-3">

                                </div>
                                <div class="col-2" style="border: 1px solid #aaaaaa;">
                                    Rank Name
                                </div>
                                <div class="col-1"></div>
                                <div class="col-5" style="border: 1px solid #aaaaaa;">
                                    Promotion / Test Date
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <span>1<sup>st</sup> Level</span>
                                </div>
                                <div class="col-2" style="border: 1px solid #aaaaaa;">

                                </div>
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <input type="date" name="level1date" placeholder=""
                                        class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px !important;">
                                <div class="col-3">
                                    <span>2<sup>nd</sup> Level</span>
                                </div>
                                <div class="col-2" style="border: 1px solid #aaaaaa;">

                                </div>
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <input type="date" name="level2date" placeholder=""
                                        class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px !important;">
                                <div class="col-3">
                                    <span>3<sup>rd</sup> Level</span>
                                </div>
                                <div class="col-2" style="border: 1px solid #aaaaaa;">

                                </div>
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <input type="date" name="level3date" placeholder=""
                                        class="form-control form-control-sm">
                                </div>
                            </div>

                            {% for level in levelrange %}
                            <div class="row" style="margin-top: 8px !important;">
                                <div class="col-3">
                                    <span>{{ level }}<sup>th</sup> Level</span>
                                </div>
                                <div class="col-2" style="border: 1px solid #aaaaaa;">

                                </div>
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <input type="date" name="level{{ level }}date" placeholder=""
                                        class="form-control form-control-sm">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row square">
                        <p class="h4 center">Payment Agreement</p>

                        <div class="input-group" style="margin: 2px 0 !important; margin-top: 10px !important;">
                            <span class="input-group-text">Membership Plan</span>
                            <input type="text" name="membershipPlan1" placeholder=""
                                class="form-control form-control-sm" required>
                        </div>

                        <div class="row" style="margin-top: 8px !important;">
                            <div class="col-6">
                                <span>Signed Agreement</span>
                            </div>
                            <div class="col-2">
                                <label class="form-check-label">
                                    Yes
                                </label>
                                <input class="form-check-input" type="radio" name="agreement" checked>
                            </div>
                            <div class="col-2">
                                <label class="form-check-label">
                                    No
                                </label>
                                <input class="form-check-input" type="radio" name="agreement">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 8px !important;">
                            <div class="col-6" style="align-items: center; display: flex;">
                                <span style="font-size: larger; font-weight: bolder;">Tuition Amount</span>
                            </div>
                            <div class="col-5">
                                <input type="number" name="tuitionamount" placeholder=""
                                    style="font-size: larger; font-weight: bolder;" class="form-control form-control-sm"
                                    min="1" max="200" step="1" required>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 8px !important;">
                            <div class="col-6">
                                <span><b>Payment Due</b></span>
                                <div id="monthlyPanel" class="input-group"
                                    style="border: 1px solid black; padding: 4px !important; margin-top: 8px !important;">
                                    <span class="input-group-text" style="border-bottom-left-radius: 0;">Every</span>
                                    <input type="number" class="form-control" min="1" max="31" step="1"
                                        name="monthstart">
                                    <span class="input-group-text" style="width: 100%;">day of the month</span>
                                </div>
                                <div id="annualPanel" class="input-group"
                                    style="display: none; border: 1px solid black; padding: 4px !important; margin-top: 8px !important;">
                                    <span class="input-group-text" style="border-bottom-left-radius: 0;">Day</span>
                                    <input type="date" class="form-control" name="yearstart">
                                    <span class="input-group-text" style="width: 100%;">of the following year</span>
                                </div>

                                <div id="otherPanel"
                                    style="display: none; border: 1px solid black; padding: 4px !important; margin-top: 8px !important;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="everyamount"
                                            style="border-bottom-left-radius: 0;">
                                        <label class="input-group-text" for="inputGroupSelect01"
                                            style="border-bottom-right-radius: 0;">Every</label>
                                    </div>
                                    <div class="input-group" style="margin-top: 0 !important;">
                                        <input type="text" class="form-control" name="everytype"
                                            style="border-top-left-radius: 0;">
                                        <select class="form-select" name="every" style="border-top-right-radius: 0;">
                                            <option selected>Choose...</option>
                                            <option value="months">Months</option>
                                            <option value="weeks">Weeks</option>
                                            <option value="days">Days</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-1"></div>
                            <div class="col-4" style="padding-top: 36px !important;" id="PaymentDue">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tuitionperiod" value="m" checked>
                                    <label class="form-check-label">
                                        Monthly
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tuitionperiod" value="a">
                                    <label class="form-check-label">
                                        Annual
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tuitionperiod" value="o">
                                    <label class="form-check-label">
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 36px !important;">
                            <span style="margin-top: 8px !important;">Entry Fee, Registration and other Fees
                                Paid upon Enrollment?</span>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-2">
                                    <label class="form-check-label">
                                        Yes
                                    </label>
                                    <input class="form-check-input" type="radio" name="uponEnrollment" checked>
                                </div>
                                <div class="col-2">
                                    <label class="form-check-label">
                                        No
                                    </label>
                                    <input class="form-check-input" type="radio" name="uponEnrollment">
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <span style="margin-top: 8px !important;">(This Software Program is Not a
                                contract)</span>
                            <span style="margin-top: 8px !important;">Actual Fees and Penalties should be
                                Agreed Upon and Signed Prior to enrollment</span>
                        </div>

                        <div class="row" style="margin: 84px 0px !important;">
                            <span style="margin-top: 8px !important;">Waiver Signed?</span>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-2">
                                    <label class="form-check-label">
                                        Yes
                                    </label>
                                    <input class="form-check-input" type="radio" name="waiver" value="y">
                                </div>
                                <div class="col-2">
                                    <label class="form-check-label">
                                        No
                                    </label>
                                    <input class="form-check-input" type="radio" name="waiver" value="n" checked>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="waiver-container" style="display: none;">
                <div class="col-12">
                    <div class="row square" id="waiver-row">
                        <input type="file" id="waiver" name="waiver" accept="image/*">
                        <img src="" alt="" id="waiver_preview"
                            style="max-width: 100%; height: auto; min-height: 100px; display: block;">
                    </div>
                </div>
            </div>

        </div>

        <button type="submit" class="button" style="position: absolute; bottom: 48px; right: 48px;">Save to
            Add
            Student</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/js/newuser.js' %}"></script>
{% endblock %}